In [2]:
pwd

'/Users/walterpereira/projetcs/IA_infnet/eng-ml/notebooks'

In [1]:
catalog.list()

['raw_data', 'data_filtred', 'base_train', 'base_test', 'parameters']

In [1]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'catalog',
 'context',
 'exit',
 'get_ipython',
 'open',
 'pipelines',
 'quit',
 'session']

In [3]:
raw_data = catalog.load('raw_data')

[04/09/23 19:07:26] INFO     Loading data from 'raw_data' (CSVDataSet)...                       ]8;id=95437;file:///Users/walterpereira/projetcs/IA_infnet/eng-ml/venvs/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=826033;file:///Users/walterpereira/projetcs/IA_infnet/eng-ml/venvs/lib/python3.10/site-packages/kedro/io/data_catalog.py#343\343]8;;\

In [5]:
raw_data.head()

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
0,Jump Shot,Jump Shot,10,20000012,33.9723,167,72,-118.1028,10,1,...,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,1
1,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,1,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,2
2,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,1,...,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,3
3,Jump Shot,Jump Shot,43,20000012,33.8693,138,175,-118.1318,6,1,...,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,4
4,Driving Dunk Shot,Dunk,155,20000012,34.0443,0,0,-118.2698,6,2,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,5

In [9]:
raw_data.describe().T

,count,mean,std,min,25%,50%,75%,max
game_event_id,30697.0,2.491908e+02,1.500037e+02,2.000000e+00,1.100000e+02,2.530000e+02,3.680000e+02,6.590000e+02
game_id,30697.0,2.476407e+07,7.755175e+06,2.000001e+07,2.050008e+07,2.090035e+07,2.960047e+07,4.990009e+07
lat,30697.0,3.395319e+01,8.779136e-02,3.325330e+01,3.388430e+01,3.397030e+01,3.404030e+01,3.408830e+01
loc_x,30697.0,7.110499e+00,1.101246e+02,-2.500000e+02,-6.800000e+01,0.000000e+00,9.500000e+01,2.480000e+02
loc_y,30697.0,9.110753e+01,8.779136e+01,-4.400000e+01,4.000000e+00,7.400000e+01,1.600000e+02,7.910000e+02
lon,30697.0,-1.182627e+02,1.101246e-01,-1.185198e+02,-1.183378e+02,-1.182698e+02,-1.181748e+02,-1.180218e+02
minutes_remaining,30697.0,4.885624e+00,3.449897e+00,0.000000e+00,2.000000e+00,5.000000e+00,8.000000e+00,1.100000e+01
period,30697.0,2.519432e+00,1.153665e+00,1.000000e+00,1.000000e+00,3.000000e+00,3.000000e+00,7.000000e+00
playoffs,30697.0,1.465616e-01,3.536741e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
seconds_remaining,30697.0,2.836508e+01,1.747895e+01,0.000000e+00,1.300000e+01,2.800000e+01,4.300000e+01,5.900000e+01
shot_distance,30697.0,1.343744e+01,9.374189e+00,0.000000e+00,5.000000e+00,1.500000e+01,2.100000e+01,7.900000e+01
shot_made_flag,25697.0,4.461610e-01,4.971026e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
team_id,30697.0,1.610613e+09,0.000000e+00,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
shot_id,30697.0,1.534900e+04,8.861605e+03,1.000000e+00,7.675000e+03,1.534900e+04,2.302300e+04,3.069700e+04

In [10]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   action_type         30697 non-null  object
 1   combined_shot_type  30697 non-null  object
 2   game_event_id       30697 non-null  int64
 3   game_id             30697 non-null  int64
 4   lat                 30697 non-null  float64
 5   loc_x               30697 non-null  int64
 6   loc_y               30697 non-null  int64
 7   lon                 30697 non-null  float64
 8   minutes_remaining   30697 non-null  int64
 9   period              30697 non-null  int64
 10  playoffs            30697 non-null  int64
 11  season              30697 non-null  object
 12  seconds_remaining   30697 non-null  int64
 13  shot_distance       30697 non-null  int64
 14  shot_made_flag      25697 non-null  float64
 15  shot_type           30697 non-null  object
 16  shot_zone_area      30697 non-null  object
 17  shot_zone_basic     30697 non-null  object
 18  shot_zone_range     30697 non-null  object
 19  team_id             30697 non-null  int64
 20  team_name           30697 non-null  object
 21  game_date           30697 non-null  object
 22  matchup             30697 non-null  object
 23  opponent            30697 non-null  object
 24  shot_id             30697 non-null  int64
dtypes: float64(3), int64(11), object(11)
memory usage: 5.9+ MB

In [12]:
[x for x in raw_data.columns]

['action_type',
 'combined_shot_type',
 'game_event_id',
 'game_id',
 'lat',
 'loc_x',
 'loc_y',
 'lon',
 'minutes_remaining',
 'period',
 'playoffs',
 'season',
 'seconds_remaining',
 'shot_distance',
 'shot_made_flag',
 'shot_type',
 'shot_zone_area',
 'shot_zone_basic',
 'shot_zone_range',
 'team_id',
 'team_name',
 'game_date',
 'matchup',
 'opponent',
 'shot_id']

In [14]:
raw_data.shot_type.unique()

array(['2PT Field Goal', '3PT Field Goal'], dtype=object)

In [22]:
float(raw_data.shape[0])

30697.0

In [23]:
catalog.load('data_filtred')

[04/09/23 23:48:40] INFO     Loading data from 'data_filtred' (ParquetDataSet)...               ]8;id=671405;file:///Users/walterpereira/projetcs/IA_infnet/eng-ml/venvs/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=586675;file:///Users/walterpereira/projetcs/IA_infnet/eng-ml/venvs/lib/python3.10/site-packages/kedro/io/data_catalog.py#343\343]8;;\

,lat,lon,minutes_remaining,period,playoffs,shot_distance,shot_made_flag
1,34.0443,-118.4268,10,1,0,15,0.0
2,33.9093,-118.3708,7,1,0,16,1.0
3,33.8693,-118.1318,6,1,0,22,0.0
4,34.0443,-118.2698,6,2,0,0,1.0
5,34.0553,-118.4148,9,3,0,14,0.0
...,...,...,...,...,...,...,...
30690,33.9443,-118.3828,11,4,1,15,0.0
30691,34.0443,-118.2698,7,4,1,0,0.0
30692,33.9963,-118.2688,6,4,1,4,0.0
30694,33.8783,-118.4038,3,4,1,21,1.0
30696,33.9723,-118.2688,0,4,1,7,0.0